<div class="home-container">
  <div class="header">
    <button (click)="logout()">Sign Out</button>
  </div>

  <div class="content">
    <mat-tab-group class="vertical-tabs" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Tracking Time">
        <div class="timer-container">
          <h1>Timer</h1>
          <div class="timer-display">
            <p>{{ timeElapsed }} secunde</p>
          </div>
          <div class="progress-bar">
            <div class="progress" [style.width]="(timeElapsed % 60) + '%'"></div>
          </div>
          <div class="buttons">
            <button (click)="startStopTimer()">{{ isRunning ? 'Stop' : 'Start' }}</button>
            <button (click)="resetTimer()">Resetează</button>
          </div>
        </div>
      </mat-tab>


      <mat-tab label="Tickets"></mat-tab>
      <mat-tab label="Holidays"></mat-tab>
      <mat-tab label="Up-To-Date"></mat-tab>

    </mat-tab-group>
  </div>
</div>
